<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShopEasy</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.1.3/axios.min.js" defer></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/alpinejs/3.10.5/cdn.min.js" defer></script>
</head>
<body>
<!-- 创建一个顶部导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- 添加品牌或标志 -->
    <a class="navbar-brand" href="/">
        ShopEasy
    </a>
    <!-- 添加切换按钮 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 添加折叠容器 -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- 添加导航链接 -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/category">分类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">购物车</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">我的</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chat">聊天</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" x-data="cart()" x-init="load()">
    <h2>购物车列表</h2>

    <style>
        .btn:not(:last-child) {
            margin-right: 10px;
        }
    </style>
    <button class="btn btn-primary float-right" @click="clear()">清空</button>
    <button class="btn btn-primary float-right" @click="settle()">结算</button>

    <table id="cartTable" class="table">
        <thead>
        <tr>
            <th>索引</th>
            <th>图片</th>
            <th>名字</th>
            <th>种类</th>
            <th>价格</th>
            <th>数量</th>
            <th>总价</th>
            <th>更改</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="(cart, index) in carts">
            <tr>
                <td x-text="index+1"></td>
                <td>
                    <div x-data="{ imageUrl: 'images/' + cart.image + '.jpg' }">
                        <img :src="imageUrl" height="100" width="100">
                    </div>
                </td>
                <td x-text="cart.name"></td>
                <td x-text="cart.type"></td>
                <td x-text="cart.price"></td>
                <td x-text="cart.count"></td>
                <td x-text="cart.totalPrice"></td>
                <td>
                    <button class="btn btn-xs btn-success"
                            @click="plus(cart)">加一
                    </button>
                    <button class="btn btn-xs btn-danger"
                            @click="minus(cart)">减一
                    </button>
                </td>
            </tr>
        </template>
        </tbody>
    </table>
</div>
<script>
    function cart() {
        return {
            carts: [],
            user: [],
            show_modal: false,
            id: '',
            image: '',
            name: '',
            type: '',
            price: '',
            imageUrl: '',
            sumPrice: 0,
            load() {
                let self = this;
                axios.get('/cart/getCart')
                    .then(function (res) {
                        self.carts = res.data
                        self.carts.forEach(function (cart) {
                            // 为每个cart对象增加一个imageUrl属性
                            cart.totalPrice = cart.price * cart.count;
                        });
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            plus(cart) {
                let self = this;
                axios.put('/cart/plus/', cart)
                    .then(function (res) {
                        self.load();
                        alert(res.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            minus(cart) {
                let self = this;
                axios.put('/cart/minus/', cart)
                    .then(function (res) {
                        self.load();
                        alert(res.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            clear() {
                let self = this;
                axios.delete('/cart/clear')
                    .then(function (res) {
                        self.load();
                        alert(res.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            settle() {
                let self = this;
                self.carts.forEach(function (cart) {
                    self.sumPrice = self.sumPrice + cart.totalPrice;
                });
                alert("已结算，总花费："+self.sumPrice+"元");
                self.clear();
            }
        }
    }
</script>
</body>
</html>