<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShopEasy</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.1.3/axios.min.js" defer></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/alpinejs/3.10.5/cdn.min.js" defer></script>
</head>
<body>
<!-- 创建一个顶部导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- 添加品牌或标志 -->
    <a class="navbar-brand" href="/">
        ShopEasy
    </a>
    <!-- 添加切换按钮 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 添加折叠容器 -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- 添加导航链接 -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/category">分类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">购物车</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">我的</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chat">聊天</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" x-data="chat()" x-init="load()">

    <style>
        .btn:not(:last-child) {
            margin-right: 10px;
        }
    </style>
    <button class="btn btn-primary float-right" @click="add()">写消息</button>
    <button class="btn btn-primary float-right" @click="load()">刷新</button>

    <h2>接收消息列表</h2>
    <table id="messageTable" class="table">
        <thead>
        <tr>
            <th>发送者</th>
            <th>接收者</th>
            <th>消息内容</th>
            <th>消息状态</th>
            <th>标记</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="(message, index) in receiveMessages">
            <tr>
                <td x-text="message.fromUsername"></td>
                <td x-text="message.toUsername"></td>
                <td x-text="message.content"></td>
                <td x-text="message.state"></td>
                <td>
                    <button class="btn btn-xs btn-success"
                            @click="read(message)">已读
                    </button>
                </td>
            </tr>
        </template>
        </tbody>
    </table>
    <h2>发送消息列表</h2>
    <table id="sendMessageTable" class="table">
        <thead>
        <tr>
            <th>发送者</th>
            <th>接收者</th>
            <th>消息内容</th>
            <th>消息状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="(message, index) in sendMessages">
            <tr>
                <td x-text="message.fromUsername"></td>
                <td x-text="message.toUsername"></td>
                <td x-text="message.content"></td>
                <td x-text="message.state"></td>
                <td>
                    <button class="btn btn-xs btn-danger"
                            @click="remove(message)">删除
                    </button>
                </td>
            </tr>
        </template>
        </tbody>
    </table>

    <!-- 模态框 -->
    <div x-show="show_modal">
        <div class="modal" style="display: block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">编辑消息</h4>
                        <button type="button" class="close" @click="show_modal=false">&times;</button>
                    </div>
                    <!-- 模态框主体 -->
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="toUsername">用户名：</label>
                                <input id = "toUsername" name="toUsername" placeholder="请输入接收者用户名" class="form-control" type="text"
                                       x-model="toUsername">
                                <label for="content">消息内容：</label>
                                <input id = "content" name="content" placeholder="请输入密码" class="form-control" type="text"
                                       x-model="content">
                            </div>
                        </div>
                    </div>
                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" id="btnSend" class="btn btn-primary" @click="send()">发送</button>
                        <button type="button" class="btn btn-secondary" @click="show_modal=false">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function chat() {
        return {
            receiveMessages: [],
            sendMessages: [],
            show_modal: false,
            id: '',
            fromUsername: '',
            toUsername: '',
            content: '',
            state: '',
            load() {
                let self = this;
                axios.get('/chat/getReceiveMessage')
                    .then(function (res) {
                        self.receiveMessages = res.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                axios.get('/chat/getSendMessage')
                    .then(function (res) {
                        self.sendMessages = res.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            add() {
                let self = this;
                self.show_modal = true
                self.id = ''
                self.fromUsername = ''
                self.toUsername = ''
                self.content = ''
            },
            send() {
                let self = this;
                axios.post('/chat/', {
                    fromUsername: self.fromUsername,
                    toUsername: self.toUsername,
                    content: self.content
                })
                    .then(function (res) {
                        self.load();
                        self.show_modal = false;
                        alert(res.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            read(message) {
                let self = this;
                axios.put('/chat/' + message.id, {
                    fromUsername: message.fromUsername,
                    toUsername: message.toUsername,
                    content: message.content,
                    state: "已读"
                })
                    .then(function (res) {
                        self.load();
                        self.show_modal = false;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            remove(message) {
                let self = this;
                axios.delete('/chat/' + message.id)
                    .then(function (res) {
                        self.load();
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
        }
    }
</script>
</body>
</html>